*{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 300vh;
    background-color: rgb(87, 10, 10);
}
a{
    color: black;
}
header{
    width: 100%;
    height: 100px;
    padding: 0px 20px;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 999;
}
.spacing{
    height: 100px;
}
.logo-container{
    height: 100%;
    display: flex;
    justify-content: center;
}
#logo{
    height: 100%;
}
.nav-container{
    height: 100%;
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav li{
    padding: 0px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;
}
.item-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.right-nav-container{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.nav-icon{
    margin-bottom: 10px;
}
/* END OF HEADER */
#nav-dropdown{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: white;
    border: 1.5px solid #ecf1f1;
}
#nav-women-dropdown{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgb(104, 61, 61);
    border: 1.5px solid #ecf1f1;
}

/* CLASSES */
.selected{
    border-bottom: 3px solid black;
}
.material-symbols-sharp{
    color: black;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-symbols-sharp:hover{
    color: #5f5f5f;
    cursor: pointer;
}
.important{
    font-weight: 600;
}
.hide{
    display: none;
}
/* END OF CLASSES */

.banner-cont{
    display: flex;
    background-size: cover;
}
#banner{
    width: 100%;
}
/* CAROUSEL */
#carousel{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#image{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#prev-button{
    font-size: 35px;
    padding-right: 5px;
    margin: 0;
    color: #ffffffb6;
}
#next-button{
    font-size: 35px;
    padding-left: 5px;
    margin: 0;
    color: #ffffffb6;
}
#prev-button:hover{
    color: white;
}
#next-button:hover{
    color: white;
}
.text-cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.text{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    width: 30%;
    height: 8%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
}
.text:hover{
    cursor: pointer;
    background-color: #1f1f1f;
}
#text-icon{
    margin-left: 20px;
    margin-bottom: 0;
    color: white;
}
